
<div id="posts" class="row">

 <div class="item corner-stamp">
	<img class="" src="/img/about.jpg" id="about_img">
 </div>

	
  <% @products.each do |product| %>
    <div id="<%= product.id %>" class="item">
        <div class="well">
          <%= link_to product do %>
          	<img class="img-responsive" src="/img/post_img/<%= product.id %>.jpg">
          <% end %>
          <div class="info">
            <h2><%= link_to product.name, product, :data => { :hover => product.name } %></h2>
        	<%= product.blurb %>
          </div>
        </div>
    </div>
   <% end %> 
</div>